<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>
    <h1>This is my website using Pug template</h1>
    
    
    <form action="/" method="post" id="contact">
    <input type="text" name="name" id="name" placeholder="Enter Your Name">
    <input type="number" name="age" id="age" placeholder="Enter Your Age">
    <input type="text" name="address" id="address" placeholder="Enter Your Address">
    <textarea name="more" id="more" cols="30" rows="10" placeholder="More About You"></textarea>
    <button class="btn">Submit</button>
    </form>
</body>
</html>